bin/
hl2/
platform/
steamapps/
tf/bin/
tf/cfg/unencrypted/
tf/custom/
tf/download/
tf/downloadlists/
tf/maps/
tf/materials/
tf/media/
tf/replay/
tf/resource/
tf/scripts/
tf/workshop/
tf/gameinfo.txt
tf/item_whitelist_example.txt
tf/stats.txt
tf/steam.inf
tf/*.cache
tf/*.vpk
srcds_linux
srcds_run
steam_appid.txt
thirdpartylegalnotices.txt
