bin/
hl2/
platform/
steamapps/
tf/addons/metamod/
tf/addons/metamod.vdf
tf/addons/sourcemod/configs/
tf/addons/sourcemod/data/
tf/addons/sourcemod/extensions/
tf/addons/sourcemod/gamedata/
tf/addons/sourcemod/logs/
tf/addons/sourcemod/plugins/
tf/addons/sourcemod/scripting/include/
tf/addons/sourcemod/scripting/compile.sh
tf/addons/sourcemod/scripting/spcomp
tf/addons/sourcemod/scripting/spcomp64
tf/addons/sourcemod/translations/
tf/addons/sourcemod/GPLv2.txt
tf/addons/sourcemod/GPLv3.txt
tf/addons/sourcemod/LICENSE.txt
tf/bin/
tf/cfg/unencrypted/
tf/custom/
tf/download/
tf/downloadlists/
tf/maps/
tf/materials/
tf/media/
tf/replay/
tf/resource/
tf/scripts/
tf/workshop/
tf/gameinfo.txt
tf/item_whitelist_example.txt
tf/stats.txt
tf/steam.inf
tf/*.cache
tf/*.vpk
autoupdate.cfg
srcds_linux
srcds_run
steam_appid.txt
thirdpartylegalnotices.txt
